body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(28, 37, 95, 1) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: azure;
  text-align: center;
  font-family: 'Roboto';
  font-size: 5.0rem !important;
  margin-top: 3rem !important;
  /*margin-bottom: 5rem !important;*/
}


h2{
  color: azure;
  text-align: center;
  font-family: 'Roboto';
  font-size: 2.5rem !important;
  margin-top: 0.3rem !important;
  margin-bottom: 5rem !important;
}

.cloud-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto' !important;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.1) !important;
  padding: 23px;
  border-radius: 23px;
}

.store-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.store-container img{
  width: 250px;
}

.store-icon{
  margin-top: 3rem;
  margin-left: 3rem;
  max-width: 250px !important;
}

.legal-text{
  color: gray;
  margin-left: 2rem;
}

footer{
  background-color: rgba(255, 255, 255, 0.1) !important;
  min-height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  padding: 1rem;
}