body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(28, 37, 95, 1) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: azure;
  text-align: center;
  font-family: 'Roboto';
  font-size: 5.0rem !important;
  /* margin-top: 3rem !important; */
  /*margin-bottom: 5rem !important;*/
}


h2{
  color: azure;
  text-align: center;
  font-family: 'Roboto';
  font-size: 2.5rem !important;
  margin-top: 0.3rem !important;
  margin-bottom: 5rem !important;
}

.cloud-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: 'Roboto' !important; */
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.1) !important;
  padding: 23px;
  border-radius: 23px;
}

.store-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.store-container img{
  width: 250px;
}

.store-icon{
  margin-top: 3rem;
  margin-left: 3rem;
  max-width: 250px !important;
}

.legal-text{
  color: gray;
  margin-left: 2rem;
}



.errorCloud{
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto' !important;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.1) !important;
  padding: 23px;
  border-radius: 23px;
  color: aliceblue;
  margin-bottom: 8rem;
  animation: wave-text 1s ease-in-out infinite;
  opacity: 0.8;
}

.errorCloud h3{  
  color: ghostwhite; 
  font-family: 'Roboto' !important;
  white-space: pre;
  display: block;
  font-size: 3rem;
}

.errorCloud p{
  color: cadetblue;
  white-space: pre;
  margin-top: 5rem;
  display: block;
}

.errorCloud span{
  color: darkgrey;
  white-space: pre;
  display: block;
}

.separador{
  color: black;
  font-size: 8rem;
  margin-left: .2rem;
  margin-right: .2rem;
}

@keyframes wave-text{
  00%{
    transform: translateY(0em);
  }
  60%{
    transform: translateY(-0.6em);
  }
  100%{
    transform: translateY(0em);
  }
}

.btn-shine{
  position: absolute;
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%,-50%);*/
  /*padding: 12px 48px;*/
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;

}
@keyframes shine{
  0%{ background-position: 0}
  60%{background-position: 180px}
  100%{background-position: 180px}
}

.icono-sociales{
  color: white;
}

.dream-cloud{
  font-size: 1.5rem !important;
}

.card-header{
  /* background: rgba(255, 255, 255, 0.1) !important; */
  background: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: black;
}

.feel-badge{
  
  font-size: 2rem !important;
  height: 4rem;
  width: 4rem;
}

.badge-title{
  font-size: .7rem !important;
  position: relative;
  top: -1.5rem;

}

.badge-subtitle{
  position: relative;
  top: -1.8rem;
}